<div class="layout-fundo">

  <div class="layout-fundo__gama-logo">
    <img src="assets/{{imageLogo}}" alt="Gama Academy logo">
  </div>

  <div class="layout-fundo__loginForm" id="__loginForm">
    <div class="title">
      <p>Faça seu login</p>
    </div>

    <form #form="ngForm"
    (ngSubmit)="onSubmit(form)"
     class="formFields">

      <input class="formInput" type="text" name="usuario" [(ngModel)]="usuario" placeholder="Digite seu usuário">
      <input class="formInput" type="password" name="senha" [(ngModel)]="senha" placeholder="Digite sua senha">

      <button type="submit" class="formButton">
        <p class="formButton__text">Logar</p>
          <img src="assets/{{arrowRight}}" alt="arrow right">

      </button>

      <div class="links">
        <a routerLink="../recovery">Esqueci minha senha -></a>
        <a routerLink="../home">Ainda não sou cliente -></a>
      </div>

    </form>
  </div>

</div>
