@media(max-width:500px){
    img{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 100%;
    }

    .formButton{
      display: flex;
      flex-direction: column;
    }

    button > img{
      display: none;
    }

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  &__gama-logo{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    padding:4rem 4.3rem;
  }

  &__loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 455px;
    max-height: 422px;
    width: 60vw;
    height: 48vh;

    background: #FBFBFB;
    border-radius: 8px;

    h2{
      max-width: 360.79px;
      max-height: 57.96px;
      width: 22rem;
      height: 4rem;

      font-size: 1.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1.5rem;
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    input{
      max-width: 352.78px;
      width: 42vw;
      height: 2rem;
      margin-bottom: 11%;
      font-size: 0.8rem;

      border: none;
      border-bottom: 1px solid #878686;
    }

    ::placeholder {
      color: #878686;
    }

    :-ms-input-placeholder {
      color: #878686;
    }

    ::-ms-input-placeholder {
      color: #878686;
    }

    .formButton{
      display: flex;
      align-items: center;
      justify-content: space-between;

      max-width: 360.79px;
      width: 42vw;

      height: 5vh;

      background: #68DE5A;

      border: none;
      border-radius: 20px;

      cursor: pointer;

      &__text{
        max-width: 360.79px;
        color: #fff;
        font-weight: 500;
        margin:0 15px;
      }

      transition: background 0.2s;
    }

    .formButton > img{
      margin:0 15px;
    }

    button:hover{
      background-color: #47d138;
    }

    .links{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      margin:10% auto;

      a{
        margin:0.2rem;
        text-decoration: none;
        font-size: 0.8rem;
        color: #8C52E5;
       }
    }
  }
}
