.app-default-card {
  display: flex;
}

.dashboard-page {
  display: flex;
}

.background {
  background: #8C52E5;
}

h2 {

  font-family: Arial;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.limite {
  color: #9B9B9B;
  font-family: arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21,09px;

  display: flex;
  align-items: center;
  text-align: center;

}
