.sidebar {
  position: absolute;
  width: 151px;
  height: 900px;
  left: 0px;
  top: 0px;

background: #63dc3f;
}
.pix{
position: absolute;
left: 2.92%;
right: 95.20%;
top: 35%;
bottom: 73.2%;

transform: matrix(1, 0, 0, -1, 0, 0);
}

.sidebar img {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 13px;
  top: 20px;
}


.retangulo1 {
  position: absolute;
  width: 91px;
  height: 91px;
  left: 30px;
  top: 170px;

  background: #8C52E5;
  border-radius: 5px;
}


.retangulo2 {
  position: absolute;
  width: 91px;
  height: 91px;
  left: 30px;
  top: 286px;

  background: #8C52E5;
  border-radius: 5px;
}

.retangulo3 {
  position: absolute;
  width: 91px;
  height: 91px;
  left: 30px;
  top: 402px;

  background: #8C52E5;
  border-radius: 5px;
}

.retangulo4 {
  position: absolute;
  width: 91px;
  height: 91px;
  left: 30px;
  top: 518px;

  background: #8C52E5;
  border-radius: 5px;
}

a {
  position: absolute;
  width: 63px;
  height: 17px;
  left: 7px;
  top: 65px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;

  color: #FFFFFF;
}
