.sidebar {
  width: 151px;
  height: 100vh;


  background: #63dc3f;
}
.sidebar__vetor-pix img {
 width: 28px;

}



.sidebar__blocks {
  
  width: 91px;
  height: 91px;
  left: 30px;
  top: 170px;

  background: #8c52e5;
  border-radius: 5px;
}


.sidebar__links {
  
  width: 63px;
  height: 17px;
  left: 7px;
  top: 65px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
}

@media only screen and (max-width: 1020px) {
  .sidebar {
    display: none;
  }
}