<div class="sidebar">
  <div>
      <img src="https://images.sympla.com.br/5b2d2ad9768f2.jpg">
  </div>

  <div class="sidebar__blocks">
      <a routerLink="depositos" class="sidebar__links">Depósitos</a>
      <div class="sidebar__vetor-pix">
        <img src="./assets/Pix.svg">
      </div>
  </div>

  <div class="sidebar__blocks">
      <a class="sidebar__links" routerLink="planos">Planos</a>
      <div class="sidebar__vetor-pix">
        <img src="./assets/Pix.svg">
      </div>
  </div>

  <div class="sidebar__blocks">
      <a class="sidebar__links"  routerLink="pagamentos">Pagamentos</a>
      <div class="sidebar__vetor-pix">
        <img src="./assets/Pix.svg">
      </div>
  </div>

  <div class="sidebar__blocks">
      <a class="sidebar__links" routerLink="transações">Transações</a>
      <div class="sidebar__vetor-pix">
        <img src="./assets/Pix.svg">
      </div>
  </div>
</div>



