<div class="sidebar">
  <img class="sidebar__img" src="./assets/Logo-gama.svg">

  <div class="sidebar__blocks">
    <img class="sidebar__vetor-pix" src="./assets/Pix.svg">
    <div>
      <a class="sidebar__links" routerLink="depositos">Depósitos</a>
    </div>
  </div>

  <div class="sidebar__blocks">
    <img class="sidebar__vetor-pix" src="./assets/Pix.svg">
    <div>
      <a class="sidebar__links" routerLink="planos">Planos</a>
    </div>
  </div>

  <div class="sidebar__blocks">
    <img class="sidebar__vetor-pix" src="./assets/Pix.svg">
    <div>
      <a class="sidebar__links" routerLink="pagamentos">Pagamentos</a>
    </div>
  </div>

  <div class="sidebar__blocks">
    <img class="sidebar__vetor-pix" src="./assets/Pix.svg">
    <div>
      <a class="sidebar__links" routerLink="transações">Transações</a>
    </div>
  </div>
</div>