<div>
  <div class="sidebar">
      <img src="https://images.sympla.com.br/5b2d2ad9768f2.jpg">
  </div>

  <div class="retangulo1">
      <a routerLink="depositos" class="deposito">Depósitos</a>
      <div class="pix">
        <img src="./assets/Pix.svg">
      </div>
  </div>

  <div class="retangulo2">
      <a routerLink="planos">Planos</a>
      <div class="pix">
        <img src="./assets/Pix.svg">
      </div>
  </div>

  <div class="retangulo3">
      <a routerLink="pagamentos">Pagamentos</a>
      <div class="pix">
        <img src="./assets/Pix.svg">
      </div>
  </div>

  <div class="retangulo4">
      <a routerLink="transações">Transações</a>
      <div class="pix">
        <img src="./assets/Pix.svg">
      </div>
  </div>
</div>



