<div class="card1"><img src="./assets/Group.svg" class="vetorCard1"></div>
<div class="conta" >Conta</div>
<div class="saldo">Saldo disponível</div>
<div class="saldoDisponivel">R$: 10.000,00</div>
<div class="transacoes">Transações:</div>
<div class="quantiaTransacoes">R$: 2.120,21</div>

<div class="card2"><img src="./assets/credit-card1.svg" class="vetorCard2"></div>

<div class="contaCredito">Conta Crédito</div>
<div class="fatura">Fatura atual</div>
<div class="valorFatura">R$: 120,88</div>
<div class="limiteDisponivel">Limite Disponível</div>
<div class="valorDisponivel">R$: 9.120,88</div>

<div class="card3">
  <img src="./assets/Group.svg" class="vetorCard3">
  <img src="./assets/credit-card2.svg" class="vetorCartaoCard3">
</div>

<div class="lancamentos">Últimos lançamentos</div>
<div class="compra">Compra no débito</div>
<div class="data">Dia 22 de Fev.</div>
<div class="compraGama">GamaAcademy</div>
<div class="valorCompra">R$: 298,55</div>

