<div class="default-card">

  <div><img src="./assets/ellipse1.svg" class="elipse1Principal" ></div>
  <div><img src="./assets/hidden.svg" class="hiddenPrincipal"></div>
  <mat-card-header>
    <div mat-card-avatar class="{{iconeCard}}"></div>
    <mat-card-title>{{titulo}}</mat-card-title>
    <mat-card-subtitle>{{subtitulo}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="valor1">R$: {{valor1}}</div>
    <div class="labelValor">{{labelValor}}</div>
    <div class="valor2">R$: {{valor2}}</div>
  </mat-card-content>
</div>
