.default-card {
  max-width: 0;

}
.elipse1Principal{
    position: absolute;
    width: 47px;
    height: 47px;
    left: 1108px;
    top: 61px;
    border-radius: 50px;

    background: #68DE5A;
  }
  .hiddenPrincipal{
  position: absolute;
  width: 26.25px;
  height: 19.69px;
  left: 1118.16px;
  top: 74.97px;
  color: #8C52E5
  }
