<div class="layout-fundo">
  <img class="logo" src="../../assets/logo-gama.png">
  <div class="card" >
    <div class="container">
      <br>
      <h4 class="texts"><b>Esqueci minha senha</b></h4>
      <p class="texts">Confirme seu CPF e escolha sua nova senha</p>
      <section>
        <form action="">
            <div class="input-container">
                <input id="name" class="input" type="text" pattern=".+" required />
                <label class="label" for="name">Confirme seu CPF</label>
            </div>
            <br>
            <div class="input-container">
              <input id="name" class="input" type="text" pattern=".+" required />
              <label class="label" for="name">Digite sua nova senha</label>
            </div>
            <br>
            <div class="input-container">
              <input id="name" class="input" type="text" pattern=".+" required />
              <label class="label" for="name">Confirme sua nova senha</label>
            </div>
            <button class="button">Enviar&#8680;</button>
        </form>
      </section>
    </div>
  </div>
</div>
