<div class="layout-fundo">

  <div class="layout-fundo__gama-logo">
    <img src="assets/{{imageLogo}}" alt="Gama Academy logo">
  </div>

  <div class="layout-fundo__loginForm" id="__loginForm">
    <div class="title">
      <p>Esqueci minha senha</p>
      <h6>Confirme seu seu nome de usuário e email. Em seguida você receberá uma senha provisória</h6>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="formFields">

      <input class="formInput" type="text" name="usuario" [(ngModel)]="login" placeholder="Seu nome de usuário">
      <input class="formInput" type="email" name="email" [(ngModel)]="email" placeholder="Seu email cadastrado">

      <button type="submit" class="formButton">
        <p class="formButton__text">Redefinir senha</p>
        <img src="assets/{{arrowRight}}" alt="arrow right">

      </button>

      <div class="links">
        <a routerLink="../home">Ainda não sou cliente -></a>
      </div>

    </form>
  </div>

</div>
