<div class="layout-fundo">
  <img class="logo" src="../../assets/logo-gama.png">
  <div class="card">
    <div class="container">
      <br>
      <h4 class="texts"><b>Esqueci minha senha</b></h4>
      <p class="texts" id="text">Confirme seu CPF e escolha sua nova senha</p>
      <section>
        <form [formGroup]="formRecovery">
          <div class="input-container">
            <label class="label" for="name">
              <input id="name" class="input" type="text" placeholder="Digite seu CPF" pattern=".+" formControlName="cpf" required />
            </label><br>
          </div>
          <br>
          <div class="input-container">
            <label class="label" for="name">
              <input id="name" class="input" type="text" placeholder="Digite sua nova senha" pattern=".+" formControlName="senha" required />
            </label><br>
          </div>
          <br>
          <div class="input-container">
            <label class="label" for="name">
              <input id="name" class="input" type="text" pattern=".+" placeholder="Digite novamente a senha" formControlName="senhaRepete" required />
            </label><br><br>
          </div>
          <button (click)="enviarForm()" class="button">Enviar&#8680;</button>
        </form>
      </section>
    </div>
  </div>
</div>
