<div class="quadro1">
    <img class="logo" src="../../assets/logo-gama.png">
    <div class="campoTextoQuad1">
        <p class="textoQuad1">
            Gama Bank é um projeto de nossos alunos. <br><br>
            Já tem conta?
        </p>
        <a class="link" routerLink="../login">
            <button class="botaoAcessar">
                <p class="botaoAcessar__text">Acessar</p> <img src="../../assets/seta-acessar.svg">
            </button>
        </a>
    </div>
    <div class="card">
        <div class="container__cadForm">
            <form #formHome="ngForm" (ngSubmit)="onSubmit(formHome)">
                <p class="titleForm">Peça sua conta e cartão de crédito do Gama Bank</p>
                <input type="text" name="cpf" placeholder="Digite seu CPF" [(ngModel)]="cpf" />
                <input type="text" name="login" placeholder="Escolha um nome de usuário" [(ngModel)]="login" />
                <input type="text" name="nome" placeholder="Nome completo" [(ngModel)]="nome" />
                <input type="password" name="senha" placeholder="Digite sua senha" [(ngModel)]="inputSenha" />
                <input type="password" name="cSenha" placeholder="Confirme sua senha" [(ngModel)]="confirmaSenha" />
                <button type="submit" class="formButton">
                    <p class="formButton__text">Continuar</p> <img src="../../assets/seta-continuar.svg">
                </button>
            </form>
        </div>
    </div>
    <img src="../../assets/happy.svg" class="imgQuad1">
</div>

<div class="quadro2">
    <div class="col1">
        <div class="campoTitle1">
            <p class="title1">Conta digital do Gama Academy</p>
        </div>
        <div class="campoText1">
            <p class="text1">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas</p>
        </div>
        <img src="../../assets/app-bg1.svg" class="imgCol1">
    </div>
    <div class="col2">
        <div class="campoTitle2">
            <p class="title2">Cartão de Crédito</p>
        </div>
        <div class="campoText2">
            <p class="text2">Rende mais que a poupança, sem taxa de manutenção nem tarifas escondidas</p>
        </div>
        <img src="../../assets/app-bg2.svg" class="imgCol2">
    </div>
</div>

<div class="quadro3">
    <div class="campoTextoQuad3">
        <p class="titleQuad3">Zero anuidade</p>
        <p class="textoQuad3">Burocracia custa caro. Somos eficientes para você não ter que pagar tarifas.</p>
    </div>
    <div class="campoZero">
        <p class="zero">0,00</p>
    </div>

</div>

<div class="quadro4">
    <div class="campoTextoQuad4">
        <p class="titleQuad4">O fim da complexidade</p>
        <p class="textoQuad4">Para quem sabe que tecnologia e design são melhores do que agências e papelada</p>
    </div>
</div>


<div class="quadro5">
    <div class="campoTextoQuad5">
        <p class="tituloQuad5">Simplifique a sua vida. Peça seu convite.</p><br>
        <p class="textoQuad5">
            GamaAcademy Bank Line S.A. - CNPJ 00.000.000/0000-00 <br><br>
            Rua Fictícia, 999 - 00000-000 - São Paulo, SP <br><br>
            Este é um projeto de avaliação | GamaAcademy | Accenture | 2021
        </p>
    </div>
    <img src="../../assets/pngkey1.svg" class="imgQuad5">
</div>