.quadro1 {

    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 0px;
    background-color: #8C52E5;

}

.quadro2 {


position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 901px;
background-color: #EAEAEA;

}

.quadro3 {

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 1802px;
background-color: #8C52E5;

}

.quadro4 {

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 2703px;
background-color: #68DE5A;

}

.quadro5 {

position: absolute;
width: 1440px;
height: 900px;
left: 0px;
top: 3605px;
background-color: #EAEAEA;

}